# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# media / recordings
*.mp4
*.jpg
*.jpeg
*.png

